.mobile-navigation {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: $background-color;
  z-index: map-get($z-index, 'navigation');
  box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
}

.mobile-navigation-main {
  width: 100%;
  height: 45px;
  background: $black;
  padding: $s-size;
  display: flex;
  align-items: center;
}

.mobile-navigation-menu {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;

  .user-nav {
    height: 100%;
    margin: 0;
  }
}

.mobile-navigation-item {
  width: 50%;
  height: 100%;
  list-style: none;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $border-color;
}

.mobile-navigation-logo {
  flex-grow: 1;
  padding-left: $m-size;
}

.mobile-navigation-search {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $paragraph-color-00;
}

.mobile-navigation-search-title {
  margin: .6rem;
  font-weight: normal;
}

.icon-magnify {
  width: 12px;
  height: 12px;
  border: 2px solid $white;
  border-radius: 50%;
  position: relative;
  margin-left: $s-size;
  opacity: .5;
  
  &:after {
    content: '';
    position: absolute;
    right: -7px;
    bottom: -1px;
    width: 8px;
    height: 2px;
    transform: rotate(35deg);
    background: $white;
  }
}