// 
// STATE ---------
//

.is-active {
  font-weight: bold;
  color: green;
}

.is-basket-open {
  overflow-y: hidden;
}

.is-selected-payment {
  opacity: 1;
}

.is-basket-open .basket {
  transform: translateX(0);
}