.basket {
  width: 450px;
  height: 100vh;
  background: $white;
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(100%);
  box-shadow: 0 10px 15px rgba(0, 0, 0, .08);
  @include bezier-transition(transform);
  z-index: map-get($z-index, 'basket');

  @media (max-width: $mobile) {
    width: 100%;
  }
}

.basket-open {
  overflow-y: hidden;

  // &:before {
  //   content: '';
  //   width: 100%;
  //   height: 100%;
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  //   background: rgba(0, 0, 0, .5);
  //   @include bezier-transition();
  // }
}

.basket-open .basket {
  transform: translateX(0);
}

.basket-toggle {
  &:hover {
    cursor: pointer;
  }
}

.basket-list {
  padding: $m-size;
  padding-bottom: 100px;
  overflow-y: scroll;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.basket-item {
  display: flex;
  align-items: center;
  border: 1px solid $border-color;
  margin-bottom: $s-size;
  @include bezier-transition();
  animation: slide-up .5s ease;
}

.basket-item-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 $s-size;
}

.basket-empty {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.basket-empty-msg {
  color: $paragraph-color-10;
}

.basket-header {
  display: flex;
  align-items: center;
  position: sticky;
  top: -20px;
  background: $white;
  z-index: map-get($z-index, 'basket');
}


.basket-header-title {
  flex-grow: 1;
}

.basket-item-img-wrapper {
  width: 100px;
  height: 60px;
  margin-right: $m-size;

  @media (max-width: $mobile) {
    width: 70px;
  }
}

.basket-item-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.basket-item-details {
  flex-grow: 1;
}

.basket-item-name {
  margin: $s-size 0;
  width: 142px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
}

.basket-item-price {
  margin: $s-size 0;
}

.basket-item-remove {
  align-self: center;
}

.basket-clear {
  align-self: center;
}

.basket-checkout {
  background: $white;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: $m-size;
  display: flex;
  align-items: center;
  width: 100%;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    margin: auto;
    width: 93%;
    height: .5px;
    background: $border-color;
  }
}

.basket-checkout-button {
  font-size: $font-medium;
  padding: $m-size $l-size;
  text-transform: uppercase;
}

.basket-total {
  flex-grow: 1;
}

.basket-total-title {
  font-size: $font-small;
  margin: 0;
}

.basket-total-amount {
  margin: $s-size 0;
}

.basket-item-control {
  width: 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.basket-control {
  width: 32px;
  height: 32px;
  padding: 5px;
  font-weight: bold;
}

.basket-control-count {
  margin: 5px;
}



@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}