.navigation {
  width: 100%;
  background: $background-color;
  display: flex;
  align-items: center;
  padding: 0 $xxl-size;
  // box-shadow: 0 5px 10px rgba(0, 0, 0, .05);
  z-index: map-get($z-index, navigation);
  position: fixed;
  top: 0;
  @include bezier-transition(all, .3s, ease);

  @media (max-width: $mobile) {
    padding: 0 $s-size;
  }
}

.navigation-admin {
  background: $white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .05);
  padding-left: $l-size;
}

.navigation-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
  flex-grow: 1;
  text-align: right;
}

.navigation-menu-item {
  display: inline-block;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navigation-action {
  display: flex;
  align-items: center;
  margin-left: $xxl-size;
}

.navigation-menu-link {
  color: $heading-color;
  padding: $s-size $m-size;
  text-decoration: none;
  font-size: $font-small;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;

  &:hover {
    text-decoration: none;
    background: $background-color-01;
  }
}

.navigation-menu-active {
  font-weight: bold;
  text-decoration: underline;
}