.product-list {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-gap: $s-size;
  justify-content: center;
}

.product-list-wrapper {
  flex-grow: 1;
}

.product-card {
  // background: $white;
  height: 220px;
  border: 1px solid $border-color;
  text-align: center;
  position: relative;
  // box-shadow: 0 10px 15px rgba(0, 0, 0, .05);
  overflow: hidden;
}

.product-card:hover .product-card-content {
  transform: translateY(-10px);
}

.product-card:hover .product-card-button {
  bottom: 0;
}

.product-card:hover .product-card-img-wrapper {
  width: 80%;
  height: 80px;
}

.product-card-content {
  padding: $m-size;
  @include bezier-transition();
}

.product-card-img-wrapper {
  width: 90%;
  height: 100px;
  margin: auto;
  @include bezier-transition();
}

.product-card-price {
  color: $paragraph-color-10;
}

.product-card-name {
  width: 100%;
  height: 30px;
  margin: 0;
  // white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
}

.product-card-brand {
  margin-top: 0;
  font-size: $font-small;
}

.product-card-button {
  text-transform: uppercase;
  position: absolute;
  bottom: -100%;
  font-size: $font-small;
  @include bezier-transition();
}

.product-card-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}