.signin {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.signin-wrapper {
  width: 350px;
  height: auto;
  border: 1px solid $border-color-focus;
  padding: $m-size;
  margin: auto;
}

.signin-action {
  display: flex;
  justify-content: flex-end;
}

.signin-message {
  width: 350px;
  display: flex;
  align-items: center;
  padding: $s-size;
  margin: auto;
}

.signin-info {
  flex-grow: 1;
}