.footer {
  position: relative;
  padding: 0 $xxl-size;
  background: $black;
  display: flex;
  align-items: center;
  color: $white;

  @media (max-width: $mobile) {
    padding: $s-size;
    padding-bottom: $xl-size;
    flex-direction: column;
    text-align: center;
  }

  h4, 
  a,
  span {
    color: $white;
  }
}

.footer-col-1 {
  flex-grow: 1;
}

.footer-col-2 {
  flex-grow: 1;
}

@media (max-width: $mobile) {
  .footer-col-1,
  .footer-col-2,
  .footer-col-3 {
    width: 100%;
    margin: $s-size 0;
  }
}