.ReactModal__Overlay {
  z-index: 9999;
}

.ReactModal__Body--open {
  overflow: hidden;
}

.modal-close-button {
  position: absolute;
  top: $s-size;
  right: $s-size;
}

.ReactModal__Content {
  @include mobile {
    width: 100%;
  }
}