.preloader {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: $background-color;
    animation: fadeIn .5s ease;

    img {
        width: 200px;
        height: 200px;
    }
}

.loader {
    width: 100%;
    height: 100%;
    background: $background-color-01;
    position: relative;
    padding: $m-size;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: fadeIn .3s ease;

    @include mobile {
        min-height: 80vh;
    }
}