.product-list {
  display: grid;
  // grid-template-columns: repeat(6, 180px);
  grid-gap: $s-size;
  justify-content: center;

  @media (max-width: $mobile) {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

.product-list-header {
  width: 100%;
  margin-bottom: $line-height;
}

.product-list-header-title {
  text-align: center;
}

.product-list-header-actions {
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: $mobile) {
    display: none;
  }
}

.product-list-search {
  display: flex;
  align-items: center;
}

.product-list-title {
  flex-grow: 1;
}

.product-list-wrapper {
  flex-grow: 1;
}

.product-card {
  // background: $white;
  height: 230px;
  border: 1px solid $border-color;
  text-align: center;
  position: relative;
  // box-shadow: 0 10px 15px rgba(0, 0, 0, .05);
  overflow: hidden;
  // animation: slide-up .3s ease;

  &:hover {
    cursor: pointer;
  }

  @media (max-width: $mobile) {
    height: 200px;
  }
}

.product-card:hover .product-card-content {
  transform: translateY(-10px);
}

.product-card:hover .product-card-button {
  bottom: 0;
}

.product-card:hover .product-card-img-wrapper {
  width: 80%;
  height: 80px;
}

.product-loading {
  animation: none;
}

.product-loading:hover {
  cursor: default;
}

.product-loading:hover .product-card-content {
  transform: none;
}

.product-loading:hover .product-card-img-wrapper {
  width: 90%;
  height: 100px;
}

.product-card-content {
  padding: $m-size;
  @include bezier-transition(transform);

  // @media (max-width: $mobile) {
  //   transform: translateY(-25px);
  // }
}

.product-card-img-wrapper {
  width: 90%;
  height: 100px;
  margin: auto;
  position: relative;
  @include bezier-transition();

  @media (max-width: $mobile) {
    width: 80%;
    height: 80px;
  }
}

.product-card-price {
  color: $paragraph-color-10;
}

.product-card-name {
  width: 100%;
  height: 20px;
  margin: 0;
  // white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
}

.product-card-brand {
  margin-top: 0;
  font-size: $font-small;

  @media (max-width: $mobile) {
    margin-bottom: 0;
  }
}

.product-card-button {
  // text-transform: uppercase;
  position: absolute;
  bottom: -100%;
  font-size: $font-small;
  @include bezier-transition();

  @media (max-width: $mobile) {
    bottom: 0;
    display: none;
  }
}

.product-card-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-list-empty-filters {
  margin-top: $xxl-size;
}

.product-applied-filters {
  padding: $s-size;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: $mobile) {
    display: block;
  }
}

// PRODUCT MODAL -------------------------------------------------

.product-modal {
  display: flex;

  @media (max-width: $mobile) {
    flex-direction: column;
  }
}

.product-modal-image-wrapper {
  width: 300px;
  height: 200px;
  position: relative;

  @media (max-width: $mobile) {
    width: 70%;
    height: 140px;
    margin: auto;
  }
}

.product-modal-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-modal-details {
  width: 300px;
  padding: 0 $l-size;

  @media (max-width: $mobile) {
    width: 100%;
    padding: 0 $m-size;
  }
}

.product-modal-action {
  display: flex;
  margin-top: $m-size;
}

// PRODUCT FORM --------------------

.product-form {
  width: 100%;
  display: flex;
  // grid-template-columns: repeat(3, 1fr);
  // grid-gap: $s-size;
}

.product-form-field {
  width: 100%;
}

.product-form-inputs {
  width: 75%;
  display: flex;
  flex-direction: column;
}

.product-form-file {
  width: 25%;
  margin-left: $l-size;
  display: flex;
  flex-direction: column;
}

.product-form-img-wrapper {
  width: 100%;
  height: 200px;
  position: relative;
}

.product-form-image-preview {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

// PRODUCT SEARCH ------------------
// 

.product-search {
  width: 100%;
  position: relative;
  background: $background-color;
  z-index: map-get($z-index, 'search');
}

.product-search-header {
  width: 100%;
  height: 50px;
  background: $black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $white;
  padding: 0 $m-size;
  position: sticky;
  top: 0;
}

.product-search-body {
  padding: $s-size;
  overflow-y: scroll;
}

.product-search-input {
  width: 90%;
  border: none !important;
  color: $white;
  flex-grow: 1;
  font-size: $font-medium !important;

  &:focus {
    border: none !important;
  }
}

.product-search-wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-left: $m-size;
}

.product-search-button {
  @extend .icon-magnify;
  opacity: 1 !important;
  margin-left: 0 !important;
  margin-right: $s-size;
}

.product-search-recent-header {
  width: 100%;
  display: flex;

  h5 { flex-grow: 1; }
  h5:last-child { text-align: right; }
}

.product-search-filter {
  position: relative;
  padding: $s-size 0;
}

.product-search-filter-sub {
  width: 100%;
  position: relative;
  background: $white;
  padding: $s-size $m-size;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .07);
}

.product-search-recent {
  border-top: 1px solid $border-color;
  margin-top: $s-size;
}