.signup {
  width: 50rem;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;

   @include mobile {
    width: 100%;
    margin-top: 2rem;
  }

  .loader {
    background: $background-color;
  }
}

.signup-wrapper {
  width: 100%;
  padding: $l-size;
  padding-top: $m-size;
  border: 1px solid $border-color-focus;

  @include mobile {
    padding: $m-size;
  }
}

.signup-action {
  display: flex;
  justify-content: flex-end;
}

.signup-button {
  @include mobile {
    width: 100%;
  }
}