.user-nav {
  margin-left: $xxl-size;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 $s-size;
  border-bottom: 2px solid transparent;

  &:hover {
    cursor: pointer;
    border-bottom: 2px solid $black;
  }
}

.user-nav-img-wrapper {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 10px;
  position: relative;
  background: $border-color-focus;

  &:after {
    content: attr('data-alt');
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    color: $white;
  }
}

.user-nav-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-carret {
  width: 10px;
  height: 10px;
  position: relative;
  margin-left: $s-size;
  transition: all .2s ease;

  &:before, 
  &:after {
    content: '';
    position: absolute;
    top: 5px;
    width: 7px;
    height: 2px;
    background: $button-color;
  }

  &:before {
    left: 0;
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
    right: -1px;
  }
}

.user-nav-sub {
  width: 100%;
  height: auto;
  background: $white;
  position: absolute;
  top: 104%;
  right: 0;
  box-shadow: 0 5px 12px rgba(0, 0, 0, .1);
  display: none;
}

.user-nav-sub-link {
  font-size: $font-small;
  font-weight: bold;
  display: block;
  padding: $s-size $m-size;
  text-align: right;

  &:hover {
    background: $background-color;
    text-decoration: none;
  }

  &:first-child {
    border-bottom: .5px solid $background-color;
  }
}

.user-sub-open {
  border-bottom: 2px solid $black;
}

.user-sub-open .user-carret {
  transform: rotate(180deg);
}

.user-sub-open > .user-nav-sub {
  display: block;
}