// 
// COLORS ---------
// 

:root {
  --nav-bg: #f8f8f8;
  --nav-bg-scrolled: #fff; 
  --nav-bg-shadow: 0 5px 10px rgba(0, 0, 0, .02);
}

$background-color: #f8f8f8;
$background-color-01: #f2f2f2;

// Paragraphs
$paragraph-color-01: #3a3a3a;
$paragraph-color-00: #4a4a4a; // base
$paragraph-color-10: #818181;
// Heading
$heading-color: #1a1a1a;

// Border 
$border-color: #e1e1e1;
$border-color-focus: #c5c5c5;

// General
$white: #fff;
$black: #000;
$red: rgba(247, 45, 45, 0.986);

// Buttons
$button-color: #101010;
$button-hover: lighten($button-color, 10%);

// Social
$color-facebook: rgb(19, 84, 182);
$color-facebook-hover: rgb(15, 70, 153);