// 
// COLORS ---------
// 

$background-color: #f8f8f8;

// Paragraphs
$paragraph-color-01: #3a3a3a;
$paragraph-color-00: #4a4a4a; // base
$paragraph-color-10: #818181;
// Heading
$heading-color: #1a1a1a;

// Border 
$border-color: #e1e1e1;

// General
$white: #fff;
$black: #000;

// Buttons
$button-color: #101010;
$button-hover: lighten($button-color, 10%);
